{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Athirappalli waterfall tickets</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href="{% static 'css/index.css' %}" rel="stylesheet">

</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'admin_page:index' %}">WELCOME ADMIN</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link active" aria-current="page" href="{% url 'admin_page:index' %}">Home</a>
                    <a class="nav-link" href="#">Generate Report</a>
                    <a class="nav-link" href="{% url 'admin_page:pricing' %}">Pricing</a>
                    <a class="nav-link" href="{% url 'admin_page:ViewBookings' %}">View Bookings</a>
                    <a class="nav-link" href="{% url 'admin_page:parking' %}">Manage Parking</a>
                    <a class="nav-link" href="{% url 'admin_page:redalert' %}">Declare Red Alert</a>
                </div>
            </div>
        </div>
    </nav>
   <br>
   <br>
    <section class="container">
        <h1>All Bookings</h1>
          <div class="row">
            <article class="card fl-left">
              <section class="date">
                <time >
                  <p>Date</p>
                </time>
              </section>
              <section class="card-cont">
                <small>Athirappalli waterfall tickets</small>
                <h3>Name: </h3>
                <div class="even-date">
                 <i class="fa fa-calendar"></i>
                 <time>
                    <p>Booked Date: </p>
                    <p>Entry Time: </p>
                    <p>exit Time: </p>
                 </time>
                </div>
                <div class="even-info">
                  <i class="fa fa-map-marker"></i>
                  <p>
                    Aadhar No:
                  </p>
                  <p>
                    Vehicle No:
                  </p>
                  <p>No. of Camera: </p>
                  <p>No. of Children(below 15): </p>
                  <p>No. of Adults: </p>
                  <p>No. of Foreigners: </p>
                  <p>Parking Space: </p>
                  <p>Payment Date: </p>
                  <p>Payment Time: </p>
                  <p>Total Payment: </p>
                </div>
                <!-- <a href="#">tickets</a> -->
              </section>
            </article>
          </div>
          

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>
</html>